<h1>Pokedex Entries</h1>
<%= link_to "Register a new pokemon", "pokemons/new" %>
<h2>Current Collection:</h2>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li><%= link_to pokemon["name"].capitalize, pokemon_path(pokemon)  %></li>
  <% end %>
</ul>
